﻿.validation-message {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-radius: 4px;

    &__ul {
        padding: 15px;
    }
}

.pagination {
    &_page {
        font-size: 13px;
        color: #333;
    }
}

.table_user {
    td {
        &:last-child {
            width: 155px;
        }
    }
}