﻿<h3>Настройки</h3>

<form #editsettingForm="ngForm" *ngIf="settingLoaded" novalidate>

    <button type="button" class="btn btn-danger" (click)="back()">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Назад
    </button>
    <button type="button" [disabled]="!editsettingForm.form.valid" class="btn btn-default" (click)="update(editsettingForm)">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Сохранить
    </button>
    <hr />
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">EmailAdmin</label>
                <input type="text" class="form-control" [(ngModel)]="setting.EmailAdmin" name="EmailAdmin" #EmailAdmin="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
                <ul *ngIf="EmailAdmin.dirty && !EmailAdmin.valid">
                    <li *ngIf="EmailAdmin.errors.required">Email is required</li>
                    <li *ngIf="EmailAdmin.errors.pattern">Email should have at least 10 characters</li>
                </ul>
            </div>
            <div class="col-md-4">
                <label class="control-label">SmtpUserName</label>
                <input type="text" class="form-control" [(ngModel)]="setting.SmtpUserName" name="SmtpUserName" #SmtpUserName="ngModel" required />
                <ul *ngIf="SmtpUserName.dirty && !SmtpUserName.valid">
                    <li *ngIf="SmtpUserName.errors.required">SmtpUserName is required</li>
                </ul>
            </div>
            <div class="col-md-4">
                <label class="control-label">SmtpPassword</label>
                <input type="text" class="form-control" [(ngModel)]="setting.SmtpPassword" name="SmtpPassword" #SmtpPassword="ngModel" required />
                <ul *ngIf="SmtpPassword.dirty && !SmtpPassword.valid">
                    <li *ngIf="SmtpPassword.errors.required">SmtpPassword is required</li>
                </ul>
            </div>
            <div class="col-md-4">
                <label class="control-label">SmtpHost</label>
                <input type="text" class="form-control" [(ngModel)]="setting.SmtpHost" name="SmtpHost" #SmtpHost="ngModel" required />
                <ul *ngIf="SmtpHost.dirty && !SmtpHost.valid">
                    <li *ngIf="SmtpHost.errors.required">SmtpHost is required</li>
                </ul>
            </div>
            <div class="col-md-4">
                <label class="control-label">SmtpPort</label>
                <input type="text" class="form-control" [(ngModel)]="setting.SmtpPort" name="SmtpPort" #SmtpPort="ngModel" required />
                <ul *ngIf="SmtpPort.dirty && !SmtpPort.valid">
                    <li *ngIf="SmtpPort.errors.required">SmtpPort is required</li>
                </ul>
            </div>
            <div class="col-md-4">
                <label class="control-label">SmtpEnableSsl</label>
                <input type="checkbox" class="input_checkbox" [(ngModel)]="setting.SmtpEnableSsl" name="SmtpEnableSsl" #SmtpEnableSsl="ngModel" />
            </div>
        </div>
    </div>
</form>