﻿<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive img-rounded" src="../../../Content/images/aspcorerc2.png" alt="" />
        </div>
        <div class="col-md-6">
            <h3>Building Single Page Applications using ASP.NET Core, Angular 2 & TypeScript</h3>
            <p>Step by step walkthrough on how to build clean, scallable Single Page Applications using the latest ASP.NET Core framework as middleware and Angular 2 with TypeScript on the front-end side.</p>
            <a class="btn btn-primary btn-lg" href="http://wp.me/p3mRWu-11L" target="_blank"><i class="fa fa-book fa-fw"></i>&nbsp;Read post</a>
        </div>
    </div>
    <hr>


    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                The project is a <a href="http://chsakell.com" target="_blank">chsakell's Blog</a>'s genuine contribution and distributed under MIT licence
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <h4>ASP.NET Core</h4>
                    <p>ASP.NET Core is a new open-source and cross-platform framework for building modern cloud-based Web applications using .NET.</p>
                    <a class="btn btn-primary" href="http://www.microsoft.com/net" target="_blank">More Info</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <h4>Angular 2</h4>
                    <p>Angular is a development platform for creating applications using modern web standards. It includes essential features such as mobile gestures, animations, routing and data binding.</p>
                    <a class="btn btn-primary" href="https://angular.io/" target="_blank">More Info</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-support fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <h4>TypeScript</h4>
                    <p>TypeScript lets you write JavaScript the way you really want to. TypeScript is a typed superset of JavaScript that compiles to plain JavaScript. Any browser. Any host. Any OS. Open Source.</p>
                    <a class="btn btn-primary" href="http://www.typescriptlang.org/" target="_blank">More Info</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <h4>Entity Framework 7</h4>
                    <p>EF7 is a lightweight and extensible version of Entity Framework that enables new platforms and new data stores.</p>
                    <a href="https://github.com/aspnet/EntityFramework" target="_blank" class="btn btn-primary">More info</a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; <a href="http://chsakell.com" target="_blank">chsakell's Blog</a> 2015</p>
            </div>
        </div>
    </footer>

</div>

<div class="content" style="display: none;">
    <div class="formLogin formLogin_page" tabindex="-1" aria-hidden="true">
        <div class="formLogin__head">
            <div class="formLogin__title">
                Вход в личный кабинет
            </div>
        </div>
        <div class="formLogin__body">
            <form class="form" name="userForm" novalidate>
                <div class="form__form-group form__form-group_required">
                    <label for="username" class="form__label">Username</label>
                    <input id="username" type="text" class="form__input"
                           name="username" required />
                    <div class="form__validation form__validation_invalid">
                        Username is required
                    </div>
                </div>
                <div class="form__form-group form__form-group_required">
                    <label for="username" class="form__label">Password</label>
                    <input id="password" type="password" class="form__input"
                           name="password" required />
                    <div class="form__validation">
                        Password is required
                    </div>
                </div>
                <div class="form__form-group">
                    <button class="formLogin__btn formLogin__btn_signIn">Войти</button>
                    <div class="formLogin_page__action pull-right">
                        <a [routerLink]="['/account/register']" class="form__link">Регистрация</a> 
                        <a class="form__link form__link_is-disabled">Сбросить пароль</a>
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox">Запомнить меня
                    </label>
                </div>
            </form>
        </div>
        <div class="formLogin__foot">
            <a class="formLogin__btn formLogin__btn_cancel" [routerLink]="['/home']" data-dismiss="modal" aria-hidden="true">Отмена</a>
        </div>
    </div>
</div>