﻿<!-- Navigation -->
<nav class="navigation">
    <div class="container clearfix">
        <div class="navigation__header pull-left">
            <a [routerLink]="['/home']" class="navigation__link">Simple Site 2.0</a>
        </div>
        <div class="navigation__body pull-right">
            <ul class="navigation__menu">
                <!--<li class="navigation__menu__item">
                    <a [routerLink]="['/Photo/Photo']" class="navigation__link">Photos</a>
                </li>
                <li class="navigation__menu__item">
                    <a [routerLink]="['/Photo/Albums']" class="navigation__link">Albums</a>
                </li>-->
                <li class="navigation__menu__item">
                    <a *ngIf="!isUserLoggedIn()" [routerLink]="['/account/login']" class="navigation__link">Sign in</a>
                    <a *ngIf="isUserLoggedIn()" [routerLink]="['/home']" (click)="logout()" class="navigation__link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>