﻿@import "vars.scss";
@import "../../Content/mixins.scss";

.container {
    width: 95%;
    max-width: 1200px;
	margin: 0 auto;
    @include clearfix();
}

.title-h1 {
    font-size: 1.7em;
    margin: 1em 0;

    @include breakpoint($small) {
        font-size: 1.5em;
    }
}

/*$status-colors: (
    default: #2c97de,
    danger: #d9534f            
);*/

.btn {
    @include btn();
    /*@each $status, $color in $status-colors {
        &_#{status} {
            background-color: $color;
        }
    }*/

    &__span_hidden-mobile {
        @include breakpoint($small) {
            display: none;
        }
        display: initial;
    }

    &__span_visible-mobile {
        @include breakpoint($small) {
            display: initial;
        }
        display: none;
    }
}

/*
    Верхнее меню
*/
.navigation {
	background-color: #2d2d2d;
	min-height: 50px;
}

.navigation__menu__item {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.navigation__link {
	color: #fff;
	text-decoration: none;
	line-height: 50px;
    display: block;
    padding: 0 10px;

	&:hover, &:active, &:focus {
		background-color: lighten(#2d2d2d, 15%);
	}
}
/*
    Верхнее меню - end
*/

/*
    Адаптивная таблица
*/
.table {
    width: 100%;
    margin: 0 0 25px 0;
    table-layout: fixed;

	&__thead {
		border-bottom: 3px solid $primary-color;
	}

    &__th {
        padding: 0.35em 0 .35em;
        font-weight: 400;
        text-align: left;
        font-size: 1.25em;
    }

	&__tbody {
		//border-bottom: 3px solid $primary-color;
	}

    &__tr {
        border-bottom: 2px solid #ddd;
    }

    &__td {
		padding: .75em 0;

		/*a {
			color: $primary-color;
			text-decoration: none;
			display: inline-block;
			margin: 0 .5em 0 0;
			&:hover, &:active, &:focus {
				color: darken($primary-color, 10%);
				border: none;
			}
		}*/
	}

	&__tfoot {
		td {
			padding: 0.35em 0 .35em;
			text-align: left;
			font-size: 1.25em;
		}
	}
}

%responive-tables {
	@include table-mobile;

	@media screen and (min-width: $table-breakpoint) { 
		@include table-desctop;
	}
}


.table_responsive {
    @include clearfix();
    @extend %responive-tables;
}
/*
    Адаптивная таблица - end
*/