﻿@import "~susy/sass/susy";
@import '~breakpoint-sass/stylesheets/breakpoint';

$small: 320px 767px;
$middle: 768px 1023px;
$large: 1024px;

$btn-bg-default: #2c97de;
$btn-bg-danger: #d9534f;
$btn-bg-warning: #f0ad4e;
$red: #e94b35;

$primary-color: #008cba;
$gray-color: #ddd;
$table-breakpoint: 768px;
$global-radius: 4px;