﻿<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{_albumTitle}}
                <small>Страница {{_page + 1}} of {{_pagesCount}}</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a [routerLink]="['/home']">Home</a>
                </li>
                <li>
                    <a [routerLink]="['/albums']">Albums</a>
                </li>
                <li>{{_albumTitle}}</li>
                <li class="active">Фотографии</li>
            </ol>
        </div>
    </div>

    <div class="row text-center">
        <div>
            <div class="col-md-3 col-sm-6 hero-feature" *ngFor="let image of _photos">
                <div class="thumbnail blue-thumb">
                    <a class="fancybox center-block" rel="gallery" href="{{image.Uri}}" title="{{image.Title}}">
                        <img class="media-object center-block" height="120" src="{{image.Uri}}" alt="" />
                    </a>
                    <div class="row caption img-caption">
                        <div class="row remove-caption">
                            <div class="col-xs-10 dateCaption">{{convertDateTime(image.DateUploaded)}}</div>
                            <div class="col-xs-2 buttonCaption">
                                <button class="btn btn-xs btn-danger" (click)="delete(image)">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-remove fa-stack-1x fa-inverse"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <strong>{{image.Title}}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div>
            <div>
                Multiple
                <input type="file" ng2FileSelect [uploader]="uploader" (change)="selectFile($event)" multiple /><br />

                Single
                <input type="file" ng2FileSelect [uploader]="uploader" (change)="selectFile($event)" />
            </div>
            <div>
                <h3>Select files</h3>
                <div ng2FileDrop
                     [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                     (fileOver)="fileOverBase($event)"
                     [uploader]="uploader"
                     class="well my-drop-zone">
                    Base drop zone
                </div>

                <div ng2FileDrop
                     [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
                     (fileOver)="fileOverAnother($event)"
                     [uploader]="uploader"
                     class="well my-drop-zone">
                    Another drop zone
                </div>
            </div>
        </div>
        <div style="padding-bottom: 100px;">
            <h3>Upload queue</h3>
            <p>Queue length: </p>

            <table class="table">
                <thead>
                    <tr>
                        <th width="50%">Имя</th>
                        <th>Размер</th>
                        <th>Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{item.file.name}}</strong></td>
                        <td nowrap>{{item.file.size}} b</td>
                        <td>
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs"
                                    (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-warning btn-xs"
                                    (click)="item.cancel()" [disabled]="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                            </button>
                            <button type="button" class="btn btn-danger btn-xs"
                                    (click)="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <div>
                    Queue progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-s"
                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>

        </div>
    </div>

    <style>
        .my-drop-zone {
            border: dotted 3px lightgray;
        }

        .nv-file-over {
            border: dotted 3px red;
        }
        /* Default class applied to drop zones on over */
        .another-file-over-class {
            border: dotted 3px green;
        }
    </style>
</div>
<footer class="navbar navbar-fixed-bottom">
    <div class="text-center">
        <div ng-hide="(!_pagesCount || _pagesCount < 2)" style="display:inline">
            <ul class="pagination pagination-sm">
                <li><a *ngIf="_page != 0_" (click)="search(0)"><<</a></li>
                <li><a *ngIf="_page != 0" (click)="search(_page-1)"><</a></li>
                <li *ngFor="let n of range()" [ngClass]="{active: n == _page}">
                    <a (click)="search(n)" *ngIf="n != _page">{{n+1}}</a>
                    <span *ngIf="n == _page">{{n+1}}</span>
                </li>
                <li><a *ngIf="_page != (_pagesCount - 1)" (click)="search(pagePlus(1))">></a></li>
                <li><a *ngIf="_page != (_pagesCount - 1)" (click)="search(_pagesCount - 1)">>></a></li>
            </ul>
        </div>
    </div>
</footer>