﻿<div class="container content">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div mobileHide="772" class="col-md-2 col-sm-2 col-xs-12">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-square fa-stack-2x text-primary"></i>
                                    <i class="fa fa-html5 fa-stack-1x fa-inverse" style="color:#FFC107"></i>
                                </span>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2">ASP.NET Core</p>
                                    <p>
                                        <span class="glyphicon glyphicon-thumbs-up"></span> ASP.NET Core is a new open-source
                                        and cross-platform framework for building modern cloud based internet connected
                                        applications, such as web apps, IoT apps and mobile backends.
                                    </p>
                                    <blockquote class="adjust2">
                                        <p>Microsoft Corp.</p> <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> https://docs.asp.net/en/latest/</cite></small>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div mobileHide="772" class="col-md-2 col-sm-2 col-xs-12">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-square fa-stack-2x text-primary"></i>
                                    <i class="fa fa-code fa-stack-1x fa-inverse" style="color:#FFC107"></i>
                                </span>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2">Angular 2</p>
                                    <p>
                                        <span class="glyphicon glyphicon-thumbs-up"></span> Learn one way to build applications
                                        with Angular and reuse your code and abilities to build apps for any deployment
                                        target. For web, mobile web, native mobile and native desktop.
                                    </p>
                                    <blockquote class="adjust2">
                                        <p>Google</p> <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i>https://angular.io/</cite></small>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div mobileHide="772" class="col-md-2 col-sm-2 col-xs-12">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-square fa-stack-2x text-primary"></i>
                                    <i class="fa fa-rss fa-stack-1x fa-inverse" style="color:#FFC107"></i>
                                </span>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2">chsakell's Blog</p>
                                    <p>
                                        <span class="glyphicon glyphicon-thumbs-up"></span> Anything around ASP.NET MVC,Web
                                        API, WCF, Entity Framework & Angular.
                                    </p>
                                    <blockquote class="adjust2">
                                        <p>Chris Sakellarios</p> <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> https://chsakell.com</cite></small>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
    </div>
</div>

<hr>
<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Latest Features</h3>
    </div>
</div>
<!-- /.row -->
<!-- Page Features -->
<div class="row text-center">
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <span class="fa-stack fa-5x">
                <i class="fa fa-square fa-stack-2x text-primary"></i>
                <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
            </span>
            <div class="caption">
                <h3>ASP.NET Core</h3>
                <p>ASP.NET Core is a significant redesign of ASP.NET.</p>
                <p>
                    <a href="https://docs.asp.net/en/latest/" target="_blank" class="btn btn-primary">More..</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <span class="fa-stack fa-5x">
                <i class="fa fa-square fa-stack-2x text-primary"></i>
                <i class="fa fa-database fa-stack-1x fa-inverse"></i>
            </span>
            <div class="caption">
                <h3>EF Core</h3>
                <p>A cross-platform version of Entity Framework.</p>
                <p>
                    <a href="https://docs.efproject.net/en/latest/" target="_blank" class="btn btn-primary">More..</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <span class="fa-stack fa-5x">
                <i class="fa fa-square fa-stack-2x text-primary"></i>
                <i class="fa fa-code fa-stack-1x fa-inverse"></i>
            </span>
            <div class="caption">
                <h3>Angular</h3>
                <p>Angular is a platform for building mobile and desktop web apps.</p>
                <p>
                    <a href="https://angular.io/" target="_blank" class="btn btn-primary">More..</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <span class="fa-stack fa-5x">
                <i class="fa fa-square fa-stack-2x text-primary"></i>
                <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
            </span>
            <div class="caption">
                <h3>TypeScript</h3>
                <p>A free and open source programming language.</p>
                <p>
                    <a href="https://www.typescriptlang.org/" target="_blank" class="btn btn-primary">More..</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<hr>
<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; <a href="https://chsakell.com" target="_blank">chsakell's Blog</a></p>
        </div>
    </div>
</footer>