﻿@import "../../../Content/vars.scss";
@import "../../../../Content/mixins.scss";

.request {
    &__user {
        font-size: 1.2em;
        margin: 0 0 1em 0;
    }
}

.request__form {
    .form {
        &__form-group {
            width: 100%;
            max-width: 500px;
        }

        &__input {
            &_size-xs {
                min-width: 50px;
                max-width: 130px;
                margin: 0 15px;
            }
        }
    }
}

.request_position-center {
    width: 95%;
    max-width: 700px;
    margin: 0 auto;

    .form__form-group {
        max-width: 100%;
    }
}

.request__table {
    .btn {
        font: {
            size: 14px;
            weight: initial;
        }
         padding: 12px 10px;
    }
}