@import 'mixins.scss';

@import "compass/reset";
@import "compass/css3/box-sizing";

html {
    font-family: sans-serif;
}

*:focus {
    outline: 0;
}

a:focus {
    outline: 0;
}

html {
	@include box-sizing(border-box);
}

*, *::before, *::after {
	@include box-sizing(border-box);
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.align_center {
    text-align: center;
}

.align_left {
    text-align: left;
}

.align_right {
    text-align: right;
}

.clearfix {
    @include clearfix();
}

.mainloader {
    @include loader;
}