﻿@import "../../../Content/vars.scss";
@import "../../../../Content/mixins.scss";

.formLogin {
    .formLogin__form-group_checkbox {
        margin: 6px 0 12px 0;
    }

    &__head {
        @include clearfix();
    }
}

.formLogin_page {
	width: 95%;
    max-width: 600px;
	margin: 150px auto 0;

    @include breakpoint($small) {
        margin: 25px auto 0;
    }
}	

.formLogin_page__action {
	margin: 0 0 30px 0;
    text-align: center;

    &__link {
		color: #777;
        font-size: 20px;
		text-decoration: none;
        margin: 0 30px 0 0;
        padding: 0 0 5px 0;
        border-bottom: 2px solid transparent;

        @include breakpoint($small) {
            font-size: 12px;
            margin: 0 5px 0 0;
        }

        &:last-child {
            margin: 0;
        }

		&:hover, &:focus, &:active {
			text-decoration: none;
			color: lighten(#777, 10%);
		}

        &_is-current {
            border-bottom-color: #466483;

            &:hover, &:focus, &:active {
				text-decoration: none;
				color: #777;
			}
        }

		&_is-disabled {
			color: lighten(#777, 30%);
			cursor: default;
			text-decoration: none;

			&:hover, &:focus, &:active {
				text-decoration: none;
				color: lighten(#777, 30%);
			}
		}
	}
}

/*.formLogin__title {
	padding-bottom: 10px;
	margin-bottom: 20px;
	font-size: 30px;
	border-bottom: 1px solid #ecf0f1;
}*/

.form {
    &__label {
		position: absolute;
		color: #94aab0;
		font-size: 16px;
		top: 14px;
		left: 12px;
		transition: top 0.2s, font-size 0.2s linear;
	}

	&__input {
		display: block;
		width: 100%;
        font: {
            size: 16px;
            family: sans-serif;
        }
		color: #2b3e51;
		border: 1px solid #cfd9db;
        border-left: 5px solid #777;
		border-radius: 5px;
		padding: 12px;

		&:focus {
			outline: none;
			border-color: $btn-bg-default;
		    box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
            border-left: 5px solid $btn-bg-default;

            &.ng-valid {
                border-left: 5px solid #48a200;
            }
		}

        &.ng-valid {
            border-left: 5px solid #48a200;
        }

        &.ng-invalid.ng-touched {
            border-left: 5px solid $red;
        }
	}

    &__input_type-file {
        @extend .form__input;
        border: none;
        padding: 12px 0;
        box-shadow: none;
    }

    &__textarea {
        @extend .form__input;
        resize: none;
        min-height: 100px;
    }

    &__select {
        @extend .form__input;
        width: auto;
    }

    &__select_float {
        @extend .form__select;
        float: left;
    }

	&__validation {
		color: $red;
		padding: 7px 17px;
		font-size: 14px;
		transform: translateY(-100%);
		opacity: 0;
		visibility: hidden;
		transition: transform 0.2s, opacity 0.2s linear;

		&_invalid {
			opacity: 1;
			transform: translateY(0);
			visibility: visible;
		}
	}

	&__form-group {
		position: relative;
        margin: 0 0 28px 0;

		&:focus {
			.form__label {
				font-size: 12px;
				top: -16px;
			}
		}
	}

    &__form-group_required {
        @extend .form__form-group;
        margin: 0 0 12px 0;

		&::after {
			content: '';
			display: inline-block;
			background-color: $red;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			position: absolute;
			top: 10px;
			right: 10px;
		}
    }

    &__form-group_checkbox {
        @extend .form__form-group;

        .input_checkbox {
            margin: 0 5px 0 0;
        }
    }

    &__form-group_with-float {
        @extend .form__form-group;
        @include clearfix();
    }

    &__message {
        margin: 0 0 25px 0;
        font-size: 0.9em;
        line-height: 1.5;
        border: 1px solid #eee;
        border-radius: 2px;
        padding: 5px 10px;
        color: #777;
        position: relative;

        &::after, &::before {
           content: '';
           border: solid transparent;
           position: absolute;
           left: 25px;
           margin-left: -12px;
           bottom: -24px;
           width: 0;
        }

        &::before {
           border-top-color: #eee;
           border-width: 12px;
        }

        &::after {
           border-top-color: #fff;
           border-width: 14px;
           margin-left: -14px;
        }
    }
}	

.formLogin__btn {
	@include btn();

	&_signIn {
		background-color: #2b3e51;

		&:hover, &:focus, &:active {
			background-color: lighten(#2b3e51, 5%);
		}
	}

	&_cancel {
		background-color: $red;

		&:hover, &:focus, &:active {
			background-color: lighten($red, 5%);
		}
	}
}

/*.formLogin__foot {
    margin: 25px 0 0 0;
}*/