﻿<div class="content">
    <div class="formLogin formLogin_page" tabindex="-1" aria-hidden="true">
        <div class="formLogin__head">
            <div class="formLogin_page__action">
                <span class="formLogin_page__action__link formLogin_page__action__link_is-current">Авторизация</span>
                <a [routerLink]="['/account/register']" class="formLogin_page__action__link">Регистрация</a>
                <a [routerLink]="['/account/recoverypassword']" class="formLogin_page__action__link">Восстановление пароля</a>
            </div>
        </div>
        <div class="formLogin__body">
            <form class="form" name="userForm" #userForm="ngForm" novalidate>
                <div class="form__form-group form__form-group_required">
                    <!--<label class="form__label">Username</label>-->
                    <input type="text" class="form__input" placeholder="Имя"
                           [(ngModel)]="_user.username" name="username" #username="ngModel" required />
                    <div class="form__validation" [ngClass]="{'form__validation_invalid': !username.valid && !username.untouched}">
                        Поле обязательно для заполнения
                    </div>
                </div>
                <div class="form__form-group form__form-group_required">
                    <!--<label class="form__label">Password</label>-->
                    <input type="password" class="form__input" placeholder="Пароль"
                           [(ngModel)]="_user.password" name="password" #password="ngModel" required />
                    <div class="form__validation" [ngClass]="{'form__validation_invalid': !password.valid && !password.untouched}">
                        Поле обязательно для заполнения
                    </div>
                </div>
                <div class="form__form-group form__form-group_checkbox formLogin__form-group_checkbox">
                    <label>
                        <input type="checkbox" class="input_checkbox" [(ngModel)]="_user.RememberMe" name="rememberMe" #rememberMe="ngModel">Запомнить меня
                    </label>
                </div>
                <div class="form__form-group">
                    <button class="formLogin__btn formLogin__btn_signIn" (click)="login()" [disabled]="!userForm.form.valid">Войти</button>
                </div>
            </form>
        </div> 
    </div>
</div>