﻿<div class="content">
    <div class="formLogin formLogin_page" tabindex="-1" aria-hidden="true">
        <div class="formLogin__head">
            <div class="formLogin_page__action">
                <a [routerLink]="['/account/login']" class="formLogin_page__action__link">Авторизация</a>
                <a [routerLink]="['/account/register']" class="formLogin_page__action__link">Регистрация</a>
                <span class="formLogin_page__action__link formLogin_page__action__link_is-current">Восстановление пароля</span>
            </div>
        </div>
       <div class="formLogin__body">
            <form class="form" name="recoveryPasswordForm" #recoveryPasswordForm="ngForm" novalidate>
                <div class="form__message">
                    Для восстановления пароля введите адрес электронной почты. На этот адрес придет письмо со ссылкой для восстановления пароля.
                </div>
                 <div class="form__form-group form__form-group_required">
                    <input type="text" class="form__input" placeholder="Адрес электронной почты"
                           [(ngModel)]="Email" name="email" #email="ngModel" required />
                    <div class="form__validation" [ngClass]="{'form__validation_invalid': !email.valid && !email.untouched}">
                        Введите адрес вашей электронной почты
                    </div>
                </div>
                <div class="form__form-group">
                    <button class="formLogin__btn formLogin__btn_signIn" (click)="resetPassword()" [disabled]="!recoveryPasswordForm.form.valid">Далее</button>
                </div>
            </form>
        </div>
    </div>
</div>