﻿<div class="content">
    <div class="formLogin formLogin_page" tabindex="-1" aria-hidden="true">
        <div class="formLogin__head">
            <div class="formLogin_page__action">
                <a [routerLink]="['/account/login']" class="formLogin_page__action__link">Авторизация</a>
                <a class="formLogin_page__action__link formLogin_page__action__link_is-current">Регистрация</a>
                <a [routerLink]="['/account/recoverypassword']" class="formLogin_page__action__link">Восстановление пароля</a>
            </div>
        </div>
        <div class="formLogin__body">
            <form class="form" name="userForm" #userForm="ngForm" novalidate>
                <div class="form__form-group form__form-group_required">
                    <!--label class="form__label">Username</label>-->
                    <input type="text" class="form__input" placeholder="Имя"
                           [(ngModel)]="_newUser.Username" name="username" #username="ngModel" required />
                    <div class="form__validation" [ngClass]="{'form__validation_invalid': !username.valid && !username.untouched}">
                        Поле обязательно для заполнения
                    </div>
                </div>
                <div class="form__form-group form__form-group_required">
                    <!--<label class="form__label">Email</label>-->
                    <input type="text" class="form__input" placeholder="Адрес электронной почты"
                           [(ngModel)]="_newUser.Email" name="email" #email="ngModel" required>
                    <div class="form__validation" [ngClass]="{'form__validation_invalid': !email.valid && !email.untouched}">
                        Поле обязательно для заполнения
                    </div>
                </div>
                <div class="form__form-group form__form-group_required">
                    <!--<label class="form__label">Password</label>-->
                    <input type="password" class="form__input" placeholder="Пароль"
                           [(ngModel)]="_newUser.Password" name="password" #password="ngModel" required />
                    <div class="form__validation" [ngClass]="{'form__validation_invalid': !password.valid && !password.untouched}">
                        Поле обязательно для заполнения
                    </div>
                </div>
                <div class="form__form-group">
                    <button class="formLogin__btn formLogin__btn_signIn" (click)="register()" [disabled]="!userForm.form.valid">Регистрация</button>
                </div>
            </form>
        </div>
        <!--<div class="formLogin__foot">
            <a class="formLogin__btn formLogin__btn_cancel" [routerLink]="['/Account/Login']">Отмена</a>
        </div>-->
    </div>
</div>