﻿<div class="content">
    <div class="formLogin formLogin_page" tabindex="-1" aria-hidden="true">
        <div class="formLogin__head">
            <div class="formLogin_page__action">
                <a [routerLink]="['/account/login']" class="formLogin_page__action__link">Авторизация</a>
                <a [routerLink]="['/account/register']" class="formLogin_page__action__link">Регистрация</a>
                <span class="formLogin_page__action__link formLogin_page__action__link_is-current">Восстановление пароля</span>
            </div>
        </div>
        <div class="formLogin__body">
            <form class="form" name="userForm" #userForm="ngForm" novalidate>
                <div class="form__form-group form__form-group_required">
                    <!--<label class="form__label">Пароль</label>-->
                    <input type="password" class="form__input" placeholder="Пароль"
                           [(ngModel)]="_newPassword.Password" name="password" #password="ngModel" required />
                    <div class="form__validation" [ngClass]="{'form__validation_invalid': !password.valid && !password.untouched}">
                        Введите новый пароль
                    </div>
                </div>
                <div class="form__form-group form__form-group_required">
                    <!--<label class="form__label">Повторите пароль</label>-->
                    <input type="password" class="form__input" placeholder="Повторите пароль"
                           [(ngModel)]="_newPassword.PasswordConfirm" name="passwordConfirm" #passwordConfirm="ngModel" required />
                    <div class="form__validation" [ngClass]="{'form__validation_invalid': !passwordConfirm.valid && !passwordConfirm.untouched}">
                        Повторите пароль
                    </div>
                    <div class="form__validation" [ngClass]="{'form__validation_invalid': passwordConfirm.value !== password.value && passwordConfirm.valid && !passwordConfirm.untouched}">
                        Пароли должны совпадать
                    </div>
                </div>
                <div class="form__form-group">
                    <button class="formLogin__btn formLogin__btn_signIn" (click)="resetPassword()" [disabled]="!userForm.form.valid || passwordConfirm.value != password.value">Сохранить</button>
                </div>
            </form>
        </div>
        <!--<div class="formLogin__foot">
            <a class="formLogin__btn formLogin__btn_cancel" [routerLink]="['/Account/Login']">Отмена</a>
        </div>-->
    </div>
</div>