﻿<a [class.hidden]="addingUser" class="btn btn-primary" [routerLink]="['/users/add']">
    <i class="fa fa-user-plus fa-1x" aria-hidden="true"></i>Создать
</a>
<button [class.hidden]="!addingUser" class="btn btn-danger" (click)="cancelAddUser()">
    <i class="fa fa-ban fa-1x" aria-hidden="true"></i>Отмена
</button>
<hr />

<!--<div class="row text-center">
    <div class="col-md-3 col-sm-6 hero-feature" *ngFor="let user of users">
        <user-card [user]="user" (removeUser)="removeUser($event);" (userCreated)="userCreated($event);"></user-card>
    </div>
</div>-->
<div>
    <table class="table table-striped table-bordered dataTable table_user" role="grid" style="width: 100%;">
        <thead>
            <tr role="row">
                <th *ngFor="let column of columns">
                    {{column.title}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of rows">
                <td>{{user.Id}}</td>
                <td>{{user.Username}}</td>
                <td>{{user.Email}}</td>
                <td>
                    <a class="btn btn-primary" [routerLink]="['/users',user.Id,'edit']"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <button class="btn btn-danger" (click)="removeUser(user)"><i class="fa fa-times" aria-hidden="true"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <pagination *ngIf="config.paging"
                    class="pagination-sm"
                    [(ngModel)]="paginationHeaders.CurrentPage"
                    [totalItems]="length"
                    [itemsPerPage]="paginationHeaders.ItemsPerPage"
                    [maxSize]="maxSize"
                    [boundaryLinks]="false"
                    [rotate]="false"
                    (pageChanged)="onChangeTable(config, $event)"
                    (numPages)="numPages = $event">
        </pagination>
    </div>
    <div *ngIf="config.paging" class="pagination_page">Page: {{paginationHeaders.CurrentPage}} / {{numPages}}</div>
</div>