﻿<form #edituserForm="ngForm" *ngIf="userLoaded" novalidate>
    <div class="validation-message" [hidden]="edituserForm.form.valid">
        <ul *ngIf="Username.dirty && !Username.valid" class="validation-message__ul">
            <li *ngIf="Username.errors.required">Username is required</li>
            <li *ngIf="Username.errors.pattern">Username should have 5-20 characters</li>
        </ul>
        <ul *ngIf="Email.dirty && !Email.valid" class="validation-message__ul">
            <li *ngIf="Email.errors.required">Email is required</li>
            <li *ngIf="Email.errors.pattern">Email should have at least 10 characters</li>
        </ul>
        <!--<ul *ngIf="PhoneNumber.dirty && !PhoneNumber.valid">
            <li *ngIf="PhoneNumber.errors.required">Email is required</li>
            <li *ngIf="PhoneNumber.errors.pattern">Email should have at least 10 characters</li>
        </ul>-->
    </div>

    <button type="button" class="btn btn-danger" (click)="back()">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Назад
    </button>
    <button *ngIf="user.Id>0" type="button" [disabled]="!edituserForm.form.valid" class="btn btn-default" (click)="updateuser(edituserForm)">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Сохранить
    </button>
    <button *ngIf="user.Id<=0" type="button" [disabled]="!edituserForm.form.valid" class="btn btn-default" (click)="updateuser(edituserForm)">
        <i class="fa fa-user-plus" aria-hidden="true"></i>Создать
    </button>
    <hr />

    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label class="control-label"><!--<i class="fa fa-text-width" aria-hidden="true"></i>-->Username</label>
                <input type="text" class="form-control" [(ngModel)]="user.Username" name="Username" #Username="ngModel" required pattern=".{5,20}" />
            </div>

            <div class="col-md-4">
                <label class="control-label"><!--<i class="fa fa-paragraph" aria-hidden="true"></i>-->Email</label>
                <input type="text" class="form-control" [(ngModel)]="user.Email" name="Email" #Email="ngModel" required pattern=".{10,}" />
            </div>

            <div class="col-md-4">
                <label class="control-label"><!--<i class="fa fa-paragraph" aria-hidden="true"></i>-->PhoneNumber</label>
                <input type="text" class="form-control" mask data-inputmask="'mask': '+7(999)999-99-99', 'autoUnmask' : true" [(ngModel)]="user.PhoneNumber" name="PhoneNumber" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label class="control-label"><i class="fa fa-calendar-o" aria-hidden="true"></i>Дата регистрации</label>
                <input class="form-control" type="datetime-local" id="DateCreated" name="DateCreated" [(ngModel)]="user.DateCreated" placeholder="дд.ММ.гггг" required />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label class="control-label"><i class="fa fa-calendar-o" aria-hidden="true"></i>Роли</label>
                <select class="form-control" name="RolesId"  id="RolesId" [(ngModel)]="user.RolesId" multiple>
                    <option *ngFor="let role of roles" [ngValue]="role.id">{{role.text}}</option>
                </select>
            </div>
        </div>
    </div>
</form>