﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <base href="/cms/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CMS - AspCore</title>
    <link rel="stylesheet" href="/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="/cms.css" asp-append-version="true" />
</head>
<body>
    <div id="nav-separator"></div>
    <my-cms><div class="mainloader"></div></my-cms>
    <script src="/cms-common.js" asp-append-version="true"></script>
    <script src="/cms-polyfills.js" asp-append-version="true"></script>
    <script src="/cms-vendor.js" asp-append-version="true"></script>
    <script src="/alertify.js" asp-append-version="true"></script>
    <script src="/cms.js" asp-append-version="true"></script>
    @*<script src="~/node_modules/alertify/lib/alertify.js"></script>*@
</body>
</html>

