﻿@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page - AspCore</title>
    <link rel="stylesheet" href="/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="/app.css" asp-append-version="true" />
</head>
<body>
    <my-app><div class="mainloader"></div></my-app>
    <script src="/app-common.js" asp-append-version="true"></script>
    <script src="/polyfills.js" asp-append-version="true"></script>
    <script src="/vendor.js" asp-append-version="true"></script>
    <script src="/app.js" asp-append-version="true"></script>
</body>
</html>
