﻿<div class="container">
    <div class="request request_position-center">
        <div class="title-h1">Редактирование заявки</div>
        <div class="request__user">Администратор</div>
        <form class="form request__form" name="" novalidate>
            <div class="form__form-group form__form-group_required">
                <input type="text" class="form__input" placeholder="ФИО"
                       name="" required />
                <div class="form__validation"> <!--[ngClass]="{'form__validation_invalid': !username.valid && !username.untouched}-->
                    Поле обязательно для заполнения
                </div>
            </div>
            <div class="form__form-group form__form-group_required">
                <input type="text" class="form__input" placeholder="Телефон"
                       name="" required />
                <div class="form__validation"> <!--[ngClass]="{'form__validation_invalid': !password.valid && !password.untouched}"-->
                    Поле обязательно для заполнения
                </div>
            </div>
            <div class="form__form-group">
                <textarea class="form__textarea" placeholder="Комментарий" name=""></textarea>
            </div>
            <div class="form__form-group">
                <input type="file" class="form__input form__input_type-file" name="">
            </div>
            <table class="table request__table table_responsive">
                <thead class="table__thead">
                    <tr class="table__tr">
                        <th class="table__th">Заголовок</th>
                        <th class="table__th">Количество</th>
                        <th class="table__th">Действие</th>
                    </tr>
                </thead>
                <tbody class="table__tbody">
                    <tr class="table__tr">
                        <td data-label="Заголовок" class="table__td">Test1</td>
                        <td data-label="Количество" class="table__td">158</td>
                        <td data-label="Действие" class="table__td">
                            <button class="btn btn_default">Редактировать</button>
                            <button class="btn btn_danger">Удалить</button>
                        </td>
                    </tr>
                    <tr class="table__tr">
                        <td data-label="Заголовок" class="table__td">Test2</td>
                        <td data-label="Количество" class="table__td">89</td>
                        <td data-label="Действие" class="table__td">
                            <button class="btn btn_default">Редактировать</button>
                            <button class="btn btn_danger">Удалить</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form__form-group form__form-group_with-float">
                <select class="form__select form__select_float">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
                <input type="text" class="form__input form__input_size-xs form__select_float" placeholder="Количество" name="" />
                <button class="btn btn-default"><span class="btn__span_hidden-mobile">Добавить</span><span class="btn__span_visible-mobile">+</span></button>
            </div>
        </form>
    </div>
</div>