﻿<div class="container">
    <div class="request">
        <div class="title-h1">Создание заявок</div>
        <table class="table table_responsive">
            <thead class="table__thead">
                <tr class="table__tr">
                    <th class="table__th">ФИО</th>
                    <th class="table__th">Сумма</th>
                    <th class="table__th">Статус</th>
                </tr>
            </thead>
            <tbody class="table__tbody">
                <tr class="table__tr" *ngFor="let request of _requests">
                    <td data-label="Heading Col 1" class="table__td">{{request.FIO}}</td>
                    <td data-label="Heading Col 2" class="table__td">{{request.Amount}}</td>
                    <td data-label="Heading Col 3" class="table__td">{{request.StatusRequest}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>